* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

section {
  display: block;
}

:root {
  --scale: 0.85;
}

@media (max-aspect-ratio: 1/1.5) {
  :root {
    --scale: 1.3;
  }
}

.prevent-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fade {
  -webkit-mask-image: linear-gradient(90deg, #000 70%, transparent);
  -moz-mask-image: linear-gradient(90deg, #000 70%, transparent);
  -ms-mask-image: linear-gradient(90deg, #000 70%, transparent);
  mask-image: linear-gradient(90deg, #000 70%, transparent);
}

body {
  background-color: black;
  overflow-x: hidden;
  width: 100%;
}

#tracklist {
  z-index: -1;
}

.track {
  position: relative;
  overflow: visible;
  height: calc(var(--scale)*70px);
  border-radius: calc(var(--scale)*5px);
  margin: calc(var(--scale)*15px);
  border: calc(var(--scale)*3px) solid rgb(60, 60, 60);
  background-color: rgb(10, 10, 10);
}

.track[playing="true"] {
  border: calc(var(--scale)*3px) solid rgb(20, 240, 240);
  background-color: rgb(30, 30, 30);
}

.track[playing="false"] {
  border: calc(var(--scale)*3px) solid rgb(60, 60, 60);
  background-color: rgb(10, 10, 10);
}

.track:hover {
  border: calc(var(--scale)*3px) solid white;
  background-color: rgb(40, 40, 40);
}

#large-album-art-container {
  z-index: -1;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#large-album-art {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#progress-bar {
  height: 2px;
  width: 0%;
  background-color: rgb(20, 240, 240);
  opacity: 1;
  z-index: 50;
}

#progress-bar-background {
  height: 2px;
  position: fixed;
  bottom: 0%;
  width: 100%;
  background-color: #7d7d7d;
  opacity: 1;
  z-index: 50;
  border-top: 1px solid black;
}

.track.continuing::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: rotate(45deg) translateX(-50%) translateY(150%);
  width: calc(var(--scale)*7px);
  height: calc(var(--scale)*7px);
  z-index: -1;
  border: calc(var(--scale)*3px) solid rgb(60, 60, 60);
}

.album-art-placeholder {
  position: absolute;
  top: calc(var(--scale)*7.5px);
  left: calc(var(--scale)*7.5px);
  background-color: rgb(30, 30, 30);
  width: calc(var(--scale)*50px);
  height: calc(var(--scale)*50px);
}

.album-art-placeholder:hover {
  background-color: white;
}

.album-art {
  width: calc(var(--scale)*50px);
  float: left;
}

.album-art:hover {
  cursor: pointer;
  opacity: 0.75;
}

.index {
  font-family: 'Courier New', Courier, monospace;
  font-size: calc(var(--scale)*25px);
  font-weight: bold;
  position: absolute;
  left: calc(var(--scale)*65px);
  top: calc(var(--scale)*5px);
  color: rgb(120, 120, 120);
}

.title {
  font-family: Helvetica, sans-serif;
  font-size: calc(var(--scale)*25px);
  font-weight: bold;
  line-height: calc(var(--scale)*35px);
  position: absolute;
  left: calc(var(--scale)*130px);
  top: calc(var(--scale)*3px);
  color: rgb(255, 255, 255);
  white-space: nowrap;
  width: 50%;
}

.album-artists {
  font-family: Helvetica, sans-serif;
  font-size: calc(var(--scale)*15px);
  line-height: calc(var(--scale)*30px);
  position: absolute;
  left: calc(var(--scale)*65px);
  bottom: calc(var(--scale)*0px);
  color: rgb(200, 200, 200);
  white-space: nowrap;
  width: 70%;
}

.playlist-index {
  font-family: 'Courier New', Courier, monospace;
  font-size: calc(var(--scale)*20px);
  font-weight: bold;
  position: absolute;
  top: calc(var(--scale)*5px);
  right: calc(var(--scale)*80px);
  color: rgb(255, 255, 255);
  opacity: 5%;
}

.track[playlist="true"] .playlist-index {
  opacity: 60%;
}

.duration {
  font-family: 'Courier New', Courier, monospace;
  font-size: calc(var(--scale)*20px);
  font-weight: bold;
  position: absolute;
  right: calc(var(--scale)*7.5px);
  top: calc(var(--scale)*5px);
  color: rgb(125, 125, 125);
}

.flac {
  font-family: 'Courier New', Courier, monospace;
  font-size: calc(var(--scale)*20px);
  font-weight: bold;
  position: absolute;
  top: calc(var(--scale)*37.5px);
  right: calc(var(--scale)*37.5px);
  color: rgb(151, 112, 13);
}

.download {
  position: absolute;
  text-align: right;
  top: calc(var(--scale)*35.5px);
  right: calc(var(--scale)*3.5px);
  width: calc(var(--scale)*27.5px);
  height: calc(var(--scale)*27.5px);
  opacity: 30%;
}

.download:hover {
  cursor: pointer;
  opacity: 80%;
}